.btn {
  background-color: #d67b1a;
  border: none;
  outline: none;
  color: white;
  padding: 1.2rem 2.4rem;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #e4923b;
}

@media screen and (max-width: 440px) {
  .btn {
    padding: 0.8rem 1.8rem;
    font-size: 2rem;
  }
}
